<!-- inject:../components/baseHead/baseHeadStart.html -->
<!DOCTYPE html>
<html lang="en">

<head>
  {{ partial "head.html" . }} {{ partial "head_custom.html" . }}
</head>

<body>
  {{ partial "header.html" . }}

  <main class="blog"> 
    <section class="container section">
      <h1 class="rad-fade-down rad-waiting rad-animate">{{ .Title }}</h1>
      <div class="posts-list container">
        <!-- Renders the li.html content view for each content/posts/*.md -->
        {{ range .Pages }}
          <div class="blog-page-container">
            <div class="card">
              <a href="{{ .Permalink }}" class="card-link">
                <div class="card-header">
                  <h3 class="card-title">{{ .Title }}</h3>
                  <span class="card-date">{{ .Date.Format "2006-01-02" }}</span>
                </div>
                <div class="card-body">
                  {{ .Summary | plainify | truncate 100 }}
                </div>
              </a>
            </div>
          </div>
        {{ end }}
      </div>
    </section>
  </main>

  {{ partial "footer.html" . }} {{ partial "base-foot.html" . }}
</body>

</html>
<!-- endinject -->